In [1]:
import coloredlogs
import logging

import numpy as np
import pandas as pd

from transformations.solana import SolanaJobs

coloredlogs.install()

logging.basicConfig(
    level=logging.INFO,
    format="[%(asctime)s] {%(pathname)s:%(lineno)d} %(levelname)s - %(message)s",
)

log = logging.getLogger(__name__)

jobs = SolanaJobs()

/Users/kavi/workspaces/personal/demo-numpy-pipeline/app/.venv/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# VIew the head of the dataframe.
df = jobs.solana_dataframe()
df.head(5)

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2020-08-11 06:00:00.000000000,2.8500,3.4700,2.8500,3.1360,8928.93,2020-08-11 06:29:59.999000064,28002.648645,84,6979.82,21792.568350,0
1,2020-08-11 06:30:00.000000000,3.1360,3.1360,2.9054,2.9515,11103.33,2020-08-11 06:59:59.999000064,33403.586065,183,1545.93,4635.802302,0
2,2020-08-11 07:00:00.000000000,2.9515,3.1355,2.9515,3.0345,13062.77,2020-08-11 07:29:59.999000064,39650.946851,212,4639.33,14166.472847,0
3,2020-08-11 07:30:00.000000000,3.1040,3.1089,2.8800,2.9224,29006.60,2020-08-11 07:59:59.999000064,85541.943360,260,10701.70,31405.456988,0
4,2020-08-11 08:00:00.000000000,2.9626,2.9662,2.9144,2.9278,18874.86,2020-08-11 08:29:59.999000064,55532.374597,170,10133.43,29764.280760,0